/*≥ı ºªØmargin∫Õpadding*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1000px;
    height: 955px;
    background-color: white;
}

.header {
    width: 1000px;
    height: 10%;
    background-color: #666666;
}

.header p {
    color: white;
}

.container {
    padding: 0 220px 0 200px;
    height: 80%;
    background-color: orange;
}

.left {
    float: left;
    position: relative;
    margin-left: -100%;
    left: -200px;
    width: 200px;
    height: 50%;
    background-color: deepskyblue;
}

.middle {
    float: left;
    position: relative;
    width: 100%;
    height: 50%;
    background-color: aquamarine;
}

.right {
    float: left;
    position: relative;
    right: -220px;
    margin-left: -220px;
    width: 220px;
    height: 50%;
    background-color: cornflowerblue;
}

.footer {
    width: 1000px;
    height: 10%;
    background-color: #666666;
}